/* web version Bureau */
* {
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

.liens {
	text-decoration: none;
	color: black;
}

body {
	max-width: 1900px;
	margin: 0 auto;
}

h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 0 10px 0 10px;
	margin-left: 30px;
}

.logo {
	display: flex;
}

.logo img {
	border: 0;
	width: 120px;
	margin-top: auto;
	margin-bottom: auto;
}

header nav {
	display: flex;
	width: 300px;
}

header nav a {
	flex: 1;
	display: block;
	text-align: center;
	height: 90px;
}

header nav div {
	flex: 1;
	font-weight: bold;
	line-height: 90px;
	padding: 3px 10px 0 10px;
}

.element:hover {
	padding-top: 0px;
	color: #0065fc;
	border-top: 3px solid;
	border-color: #0065fc;
}

main {
	margin-left: 30px;
}

#phrasesIntroductive {
	margin: 0 0 20px 0;
}

main div:nth-child(1) a {
	font-size: 15px;
}

#formDeRecherche {
	display: flex;
	height: 50px;
	width: 375px;
	border-radius: 16px;
	overflow: hidden;
}

#formDeRecherche * {
	height: 100%;
	margin: 0;
	padding: 0;
}

#formDeRecherche div {
	width: 50px;
	text-align: center;
	background-color: #F2F2F2;
}

#formDeRecherche div * {
	line-height: 50px;
}

#formDeRecherche input {
	border: 0px;
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-color: #F2F2F2;
	padding-left: 10px;
	flex: 1;
	font-weight: 900;
}

#formDeRecherche #boutonText {
	border: 0;
	padding: 0 15px 0 15px;
	background-color: #0065FC;
	color: white;
	font-weight: 900;
}

#formDeRecherche #boutonLogo {
	display: none;
}

#filtre {
	display: flex;
	margin-top: 10px;
	flex-wrap: wrap;
}

#filtre h2 {
	line-height: 35px;
	margin-right: 20px;
}

.filtres {
	border: 3px solid;
	border-color: #F2F2F2;
	height: 50px;
	border-radius: 25px;
	display: flex;
	margin: 10px 10px 0 10px;
}

.filtres:hover {
	border-color: #0065FC;

}

.filtres div {
	width: 50px;
	height: 50px;
	text-align: center;
	display: block;
	border-radius: 25px;
	background-color: #DEEBFF;
	border: 3px solid;
	border-color: #DEEBFF;
	position: relative;
	top: -3px;
	left: -3px;
}

.filtres:hover div {
	background-color: #0065FC;
	border-color: #0065FC;
}

.filtres div i {
	color: #0065FC;
	line-height: 45px;
}

.filtres:hover div i {
	color: #DEEBFF;
}

.filtres input {
	display: none;
}

.filtres label {
	padding: 0 10px 0 10px;
	line-height: 45px;
	font-weight: 900;
}

#phraseInformative {
	display: flex;
	margin-top: 30px;
	height: 20px;
	line-height: 20px;
}

#phraseInformative div {
	border: 2px solid;
	border-color: #F2F2F2;
	margin-right: 10px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	font-weight: 900;
	color: #0065FC;
}

#HAMLPP {
	display: flex;
	margin-top: 30px;
}

#hebergementAMarseille {
	flex: 2;
	background-color: #F2F2F2;
	border-radius: 20px;
	margin: 0 50px 0 0;
}

#hebergementAMarseille h2:nth-child(1) {
	margin: 40px 0 25px 40px;
	font-size: 23px;
}

#hebergementAMarseille .cardConteneur {
	display: flex;
	flex-wrap: wrap;
	margin: 0 20px 20px 20px;
}

#hebergementAMarseille .card {
	flex: 1;
	min-width: 253px;
	height: 220px;
	display: block;
	background-color: white;
	box-shadow: 0px 5px 20px #999;
	border-radius: 20px;
	margin: 20px 20px 20px 20px;
	padding: 4px;
}

#hebergementAMarseille .card:hover {
	overflow: hidden;
}

#hebergementAMarseille .card-image {
	width: 100%;
	height: 130px;
	position: relative;
	border-radius: 23px 23px 0 0;
	object-fit: cover;
}

#hebergementAMarseille .card:hover .card-image {
	position: relative;
	left: -4px;
	top: -4px;
	height: 134px;
	width: 105%;
}

#hebergementAMarseille .card-body * {
	margin: 4px 0 4px 3px;
}

#hebergementAMarseille .card:hover .card-body {
	position: relative;
	top: -4px;
}

#hebergementAMarseille .card-price {
	font-size: 15px;
}

#hebergementAMarseille .card-note {
	margin: auto auto 5px 8px;
}

#hebergementAMarseille .card-note i {
	margin: 0;
	font-size: 11px;
	width: 10px;
}

.bleu {
	color: #0065fc;
}

.gris {
	color: #F2F2F2;
}

#hebergementAMarseille p:nth-child(3) {
	font-weight: bold;
	margin: 0 0 40px 40px;
}

#lesPlusPopulaires {
	flex: 1;
	background-color: #F2F2F2;
	border-radius: 20px;
	margin: 0 10px 0 0;
	display: flex;
	flex-direction: column;
}

#lesPlusPopulaires .titre {
	display: flex;
	justify-content: space-between;
	padding: 0 0 10px 0;
}

#lesPlusPopulaires .titre h2 {
	margin: 40px 0 0 30px;
	font-size: 23px;
}

#lesPlusPopulaires .titre svg {
	width: 80px;
	height: 80px;
}

#lesPlusPopulaires .titre svg path {
	width: 80px;
	height: 80px;
	/* font-size: 25px; */
	/* margin: auto 0 0 0; */
	/* font-weight: bold; */
}

#lesPlusPopulaires .cardConteneur {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	margin: 20px 20px 20px 20px;
}

#lesPlusPopulaires .card {
	width: auto;
	display: flex;
	height: fit-content;
	min-height: 150px;
	max-height: 150px;
	margin: 20px 20px 20px 20px;
	background-color: white;
	box-shadow: 0px 5px 20px #999;
	border-radius: 25px;
	padding: 5px;
}

#lesPlusPopulaires .card:hover {
	padding: 0;
}

#lesPlusPopulaires .card-image {
	width: 130px;
	position: relative;
	border-radius: 25px 0 0 25px;
	object-fit: cover;
}

#lesPlusPopulaires .card:hover .card-image {
	width: 135px;
}

#lesPlusPopulaires .card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#lesPlusPopulaires .card:hover .card-body {
	margin: 5px 5px 5px 0;
}

#lesPlusPopulaires .card-body * {
	margin: 5px 0 0 5px;
}

#lesPlusPopulaires .card-title {
	font-size: 15px;
	max-height: 65px;
	overflow: hidden;
  	text-overflow: ellipsis; 
	/* white-space: nowrap; */
}

#lesPlusPopulaires .card-price {
	font-size: 13px;
}

#lesPlusPopulaires .card-note {
	margin-left: 10px;
}

#lesPlusPopulaires .card-note i {
	margin: auto 0 10px 0;
	font-size: 13px;
	width: 11px;
}

#activitesAMarseille {
	height: 650px;
	margin: 60px 20px 0 0;
}

#activitesAMarseille h2 {
	font-size: 23px;
	margin-bottom: 30px;
}

#activitesAMarseille .container {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	min-width: 100%;
}

#activitesAMarseille .card {
	box-shadow: 0px 5px 20px #999;
	border-radius: 25px;
	width: 24%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#activitesAMarseille .prct100 {
	height: 100%;
}

#activitesAMarseille .prct60 {
	height: 55%;
}

#activitesAMarseille .prct50 {
	height: 45%;
}

#activitesAMarseille .prct40 {
	height: 35%;
}

#activitesAMarseille img {
	width: 100%;
	position: relative;
	border-radius: 25px 25px 0 0;
	object-fit: cover;
	flex: 1;
	overflow: hidden;
}

#activitesAMarseille .activites-name {
	height: 50px;
	font-weight: bold;
	line-height: 50px;
	font-size: 18px;
	padding: 0 20px 0 20px;
	overflow: hidden;
  	text-overflow: ellipsis; 
	white-space: nowrap;
}

footer {
	height: 300px;
	background-color: #F2F2F2;
	margin: 100px 0 0 0;
	display: flex;
	padding-top: 60px;
}

footer dl {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 0 30px 0 30px;
}

footer dt,
footer dd {
	margin: 0 0 16px 0;
}

footer dt {
	font-weight: bold;
}



/* web version tablette */
@media screen and (max-width: 992px) {

	body {
		min-width: initial;
	}

	h2 {
		font-size: 25px;
		margin-bottom: 10px;
	}

	.logo img {
		height: auto;
	}

	#phrasesIntroductive {
		margin: initial;
		padding-bottom: 20px;
	}

	main div:nth-child(1) a {
		margin-bottom: 10px;
	}

	#formDeRecherche {
		height: 45px;
		width: 360px;
	}

	#formDeRecherche * {
		height: initial;
		margin: 0;
		padding: 0;
	}

	#formDeRecherche div {
		width: 45px;
	}

	#formDeRecherche div * {
		line-height: 45px;
	}

	#filtre h2 {
		line-height: 30px;
		margin-right: initial;
	}

	#HAMLPP {
		flex-direction: column-reverse;
	}

	#hebergementAMarseille {
		flex: 2;
		margin: 0 20px 0 0;
	}

	#hebergementAMarseille .cardConteneur {
		min-width: initial;
		margin: 0 20px 0 20px;
	}

	#hebergementAMarseille .card {
		width: 260px;
	}


	#hebergementAMarseille .card-image {
		height: 120px;
	}

	#hebergementAMarseille .card:hover .card-image {
		height: 124px;
	}

	#hebergementAMarseille .card-body * {
		margin: 2px 0 2px 3px;
	}

	#hebergementAMarseille .card-price {
		font-size: 13px;
	}

	#hebergementAMarseille .card-note {
		margin: initial;
		margin-left: 8px;
	}

	#hebergementAMarseille p:nth-child(3) {
		margin: 0 0 30px 30px;
	}

	#lesPlusPopulaires {
		margin: 0 20px 20px 0;
		padding: 0 0 20px 0;
	}

	#lesPlusPopulaires .titre h2 {
		margin: 40px 0 0 30px;
	}

	#lesPlusPopulaires .cardConteneur {
		margin: 0 30px 0 30px;
	}

	#lesPlusPopulaires .card {
		margin-bottom: 20px;
		margin-left: 0px;
		margin-right: 0px;
	}

	#activitesAMarseille {
		height: initial;
		margin: 20px 20px 0 0;
	}

	#activitesAMarseille h2 {
		margin: 40px 0 45px 0px;
	}

	#activitesAMarseille .container {
		flex-wrap: initial;
		justify-content: initial;
		align-content: initial;
		min-width: initial;
	}

	#activitesAMarseille .card {
		height: 300px;
		width: 100%;
		margin: 0 auto;
		background-color: white;
		border-radius: 20px;
		margin-bottom: 40px;
	}
}

/* web version Mobile */
@media screen and (max-width: 768px) {

	body {
		min-width: 360px;
	}

	h2 {
		font-size: 25px;
		margin-bottom: initial;
	}

	header {
		flex-direction: column;
		padding: initial;
		margin-left: initial;
	}

	.logo {
		display: initial;
		width: 125px;
		margin: 0 auto;
		overflow: hidden;
	}

	.logo img {
		width: initial;
		margin-top: initial;
		margin-bottom: initial;
	}

	header nav {
		width: initial;
	}

	header nav div {
		flex: initial;
		padding: 3px 10px 0px 10px;
		display: block;
		border-bottom: 3px solid;
		border-color: #F2F2F2;
	}

	.element:hover {
		border-top: initial;
		padding-top: 3px;
		color: #0065fc;
		border-color: #0065fc;
	}

	main {
		margin-left: initial;
	}

	#phrasesIntroductive,
	#formDeRecherche,
	#filtre {
		margin: 0 30px 0 30px;
	}

	#phrasesIntroductive {
		padding-bottom: 10px;
	}

	main div:nth-child(1) a {
		font-size: initial;
		margin-bottom: initial;
	}

	#phrasesIntroductive h2 {
		font-weight: 900;
		font-size: 20px;
		margin-bottom: 10px;
	}

	#phrasesIntroductive a {
		font-size: 15px;
		margin-bottom: 10px;
	}

	#formDeRecherche {
		width: initial;
		overflow: initial;
		display: flex;
		height: 55px;
		margin: 30px 30px 0 30px;
		border: 2px solid;
		border-color: #F2F2F2;
	}

	#formDeRecherche * {
		height: 100%;
	}

	#formDeRecherche div {
		min-width: 55px;
		border-radius: 13px 0 0 13px;
		display: block;
	}

	#formDeRecherche div * {
		line-height: 55px
	}

	#formDeRecherche input {
		border: 0px;
	}

	#formDeRecherche #boutonText {
		border: initial;
		padding: initial;
		display: none;
	}

	#formDeRecherche #boutonLogo {
		min-width: 55px;
		height: 55px;
		padding: 0 15px 0 15px;
		background-color: #0065FC;
		border-radius: 16px;
		border: 2px solid;
		border-color: #0065FC;
		display: block;
		position: relative;
		top: -2px;
		right: -3px;
	}

	#formDeRecherche #boutonLogo i {
		color: white;
		font-weight: 900;
		line-height: 55px
	}

	#filtre {
		margin-right: initial;
		margin-right: 0;
	}

	#filtre h2 {
		line-height: initial;
		width: 100%;
		margin: 35px 0 5px 0;
	}

	.filtres {
		margin: 10px 5px 0 0;
	}

	#phraseInformative{
		line-height: initial;
		margin: 30px 30px 45px 30px;
	}

	#hebergementAMarseille {
		background-color: white;
		margin: 0;
	}

	#hebergementAMarseille h2:nth-child(1) {
		margin: 40px 0 15px 30px;
	}

	#hebergementAMarseille .cardConteneur {
		flex-direction: column;
	}

	#hebergementAMarseille .card {
		margin-left: 0px;
		height: 220px;
		width: 100%;
	}

	#hebergementAMarseille .card-image {
		height: 140px;
	}

	#hebergementAMarseille .card:hover .card-image {
		height: 144px;
	}

	#hebergementAMarseille .card-body * {
		margin: 4px 0 4px 0;
	}

	#lesPlusPopulaires {
		margin: 0;
	}

	#lesPlusPopulaires div {
		display: flex;
	}

	#lesPlusPopulaires .titre {
		padding: initial;
		margin-top: 20px;
	}

	#lesPlusPopulaires .titre h2 {
		margin: 25px 0 10px 20px;
	}

	#lesPlusPopulaires .titre i {
		width: 45px;
		font-size: 23px;
		margin: auto 0 auto 0;
	}

	#lesPlusPopulaires .cardConteneur {
		display: initial;
		margin: 0 20px 0 20px;
	}

	#lesPlusPopulaires .card {
		width: 100%;
		height: 160px;
	}

	#lesPlusPopulaires .card-body * {
		flex-direction: column;
	}

	#lesPlusPopulaires .card-note {
		flex-direction: row;
	}

	#lesPlusPopulaires .card-note i {
		margin: auto 2px 10px 2px;
	}

	#activitesAMarseille h2 {
		margin: 0 0 30px 20px;
	}

	#activitesAMarseille .container {
		padding: 0 0 0 20px;
	}

	#activitesAMarseille .card {
		height: 200px;
		display: block;
		box-shadow: 0px 5px 20px #999;
		border-radius: 20px;
		margin-bottom: 40px;
		display: flex;
		flex-direction: column;
	}

	#activitesAMarseille .activites-name {
		height: 50px;
		font-weight: bold;
		font-size: 18px;
		padding: 0 0 0 20px;
	}

	footer {
		margin: 0;
		flex-direction: column;
		padding-top: 20px;
		height: 600px;
	}

	footer dl {
		flex: initial;
		display: flex;
		flex-direction: column;
		padding: 0 0 0 30px;
	}

	footer h3 {
		margin-top: 40px;
	}

	footer dt,
	footer dd {
		font-size: 18px;
	}

	footer dt {
		margin-top: 20px;
	}
}